# Dependências
node_modules/

# Build do TypeScript
dist/

# Uploads (Comprovantes que você testará localmente)
uploads/
my-uploads/

# Arquivos de ambiente e logs
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de IDE
.vscode/
.idea/